@import 'bourbon';

#neurons_list {
  font-family:Menlo Regular, sans-serif;
  font-size:105%;
  li {
    padding:1%;
    @include border-radius(5px);
    border: 1px solid #2E2E30;
    margin-bottom:1%;
    list-style-type:none;
    list-style-position:outside;
  }
}

#neuron_body {
  background:white;
  color: black;
  font-weight:bold;
  font-family:Menlo Regular, sans-serif;
  font-size:105%;
  letter-spacing:1px;
  width:98%;
  padding:1%;  
}

#neuron_input {
     opacity:0.4;
/*    @include transition (all, 2.0s, ease-in-out);
    @include transition ((opacity, width), (1.0s, 2.0s), ease-in, (0, 2s));
    @include transition ($property:(opacity, width), $delay: (1.5s, 2.5s));*/
}